body {
    min-width: 100vh;
}

#logonWaves {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#setLogin {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,700 L 0,356 C 91.25128205128203,344.98333333333335 182.50256410256407,333.96666666666664 270,313 C 357.49743589743593,292.03333333333336 441.24102564102566,261.1166666666667 505,230 C 568.7589743589743,198.8833333333333 612.5333333333332,167.56666666666666 694,161 C 775.4666666666668,154.43333333333334 894.6256410256412,172.61666666666667 991,144 C 1087.3743589743588,115.38333333333333 1160.9641025641024,39.96666666666667 1232,5 C 1303.0358974358976,-29.966666666666665 1371.517948717949,-24.483333333333334 1440,-19 L 1440,700 L 0,700 Z");
    }

    25% {
        d: path("M 0,700 L 0,356 C 76.84358974358975,339.4602564102564 153.6871794871795,322.92051282051284 224,296 C 294.3128205128205,269.07948717948716 358.0948717948718,231.7782051282051 448,234 C 537.9051282051282,236.2217948717949 653.9333333333334,277.9666666666667 730,260 C 806.0666666666666,242.0333333333333 842.171794871795,164.3551282051282 922,130 C 1001.828205128205,95.6448717948718 1125.3794871794871,104.6128205128205 1219,87 C 1312.6205128205129,69.3871794871795 1376.3102564102564,25.193589743589747 1440,-19 L 1440,700 L 0,700 Z");
    }

    50% {
        d: path("M 0,700 L 0,356 C 56.81282051282051,336.58333333333337 113.62564102564102,317.1666666666667 205,312 C 296.374358974359,306.8333333333333 422.31025641025644,315.91666666666663 516,308 C 609.6897435897436,300.08333333333337 671.1333333333333,275.1666666666667 742,235 C 812.8666666666667,194.83333333333331 893.1564102564103,139.41666666666669 972,102 C 1050.8435897435897,64.58333333333333 1128.2410256410258,45.166666666666664 1206,28 C 1283.7589743589742,10.833333333333336 1361.8794871794871,-4.083333333333332 1440,-19 L 1440,700 L 0,700 Z");
    }

    75% {
        d: path("M 0,700 L 0,356 C 61.01538461538462,339.5628205128205 122.03076923076924,323.125641025641 202,325 C 281.96923076923076,326.874358974359 380.89230769230767,347.06025641025644 477,319 C 573.1076923076923,290.93974358974356 666.4,214.63333333333333 756,176 C 845.6,137.36666666666667 931.5076923076922,136.40641025641025 1004,110 C 1076.4923076923078,83.59358974358973 1135.5692307692307,31.741025641025633 1206,6 C 1276.4307692307693,-19.741025641025633 1358.2153846153847,-19.370512820512815 1440,-19 L 1440,700 L 0,700 Z");
    }

    100% {
        d: path("M 0,700 L 0,356 C 91.25128205128203,344.98333333333335 182.50256410256407,333.96666666666664 270,313 C 357.49743589743593,292.03333333333336 441.24102564102566,261.1166666666667 505,230 C 568.7589743589743,198.8833333333333 612.5333333333332,167.56666666666666 694,161 C 775.4666666666668,154.43333333333334 894.6256410256412,172.61666666666667 991,144 C 1087.3743589743588,115.38333333333333 1160.9641025641024,39.96666666666667 1232,5 C 1303.0358974358976,-29.966666666666665 1371.517948717949,-24.483333333333334 1440,-19 L 1440,700 L 0,700 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,700 L 0,531 C 73.97179487179486,514.3064102564103 147.9435897435897,497.6128205128206 243,494 C 338.0564102564103,490.3871794871794 454.197435897436,499.85512820512815 524,491 C 593.802564102564,482.14487179487185 617.2666666666665,454.9666666666667 693,418 C 768.7333333333335,381.0333333333333 896.7358974358974,334.2782051282051 992,300 C 1087.2641025641026,265.7217948717949 1149.7897435897435,243.9205128205128 1219,222 C 1288.2102564102565,200.0794871794872 1364.1051282051283,178.03974358974358 1440,156 L 1440,700 L 0,700 Z");
    }

    25% {
        d: path("M 0,700 L 0,531 C 76.48205128205129,575.7935897435898 152.96410256410257,620.5871794871795 240,594 C 327.0358974358974,567.4128205128205 424.625641025641,469.4448717948718 510,428 C 595.374358974359,386.5551282051282 668.5333333333333,401.6333333333333 749,406 C 829.4666666666667,410.3666666666667 917.2410256410255,404.02179487179484 984,361 C 1050.7589743589745,317.97820512820516 1096.502564102564,238.27948717948718 1169,198 C 1241.497435897436,157.72051282051282 1340.748717948718,156.8602564102564 1440,156 L 1440,700 L 0,700 Z");
    }

    50% {
        d: path("M 0,700 L 0,531 C 99.53846153846158,564.1987179487179 199.07692307692315,597.3974358974358 268,593 C 336.92307692307685,588.6025641025642 375.23076923076917,546.6089743589744 457,491 C 538.7692307692308,435.39102564102564 664.0000000000002,366.16666666666674 750,355 C 835.9999999999998,343.83333333333326 882.7692307692307,390.72435897435895 944,358 C 1005.2307692307693,325.27564102564105 1080.923076923077,212.93589743589743 1166,166 C 1251.076923076923,119.06410256410257 1345.5384615384614,137.53205128205127 1440,156 L 1440,700 L 0,700 Z");
    }

    75% {
        d: path("M 0,700 L 0,531 C 63.60512820512818,557.5551282051282 127.21025641025636,584.1102564102564 207,581 C 286.78974358974364,577.8897435897436 382.7641025641027,545.1141025641025 462,504 C 541.2358974358973,462.8858974358975 603.7333333333332,413.4333333333333 694,393 C 784.2666666666668,372.5666666666667 902.3025641025642,381.1525641025641 993,369 C 1083.6974358974358,356.8474358974359 1147.0564102564103,323.95641025641027 1217,285 C 1286.9435897435897,246.04358974358973 1363.4717948717948,201.02179487179487 1440,156 L 1440,700 L 0,700 Z");
    }

    100% {
        d: path("M 0,700 L 0,531 C 73.97179487179486,514.3064102564103 147.9435897435897,497.6128205128206 243,494 C 338.0564102564103,490.3871794871794 454.197435897436,499.85512820512815 524,491 C 593.802564102564,482.14487179487185 617.2666666666665,454.9666666666667 693,418 C 768.7333333333335,381.0333333333333 896.7358974358974,334.2782051282051 992,300 C 1087.2641025641026,265.7217948717949 1149.7897435897435,243.9205128205128 1219,222 C 1288.2102564102565,200.0794871794872 1364.1051282051283,178.03974358974358 1440,156 L 1440,700 L 0,700 Z");
    }
}

.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,700 L 0,706 C 64.77435897435896,748.2397435897436 129.54871794871792,790.4794871794873 211,765 C 292.4512820512821,739.5205128205127 390.5794871794873,646.321794871795 477,597 C 563.4205128205127,547.678205128205 638.1333333333334,542.2333333333332 720,547 C 801.8666666666666,551.7666666666668 890.8871794871793,566.7448717948719 973,529 C 1055.1128205128207,491.2551282051282 1130.3179487179486,400.7871794871795 1207,359 C 1283.6820512820514,317.2128205128205 1361.8410256410257,324.10641025641024 1440,331 L 1440,700 L 0,700 Z");
    }

    25% {
        d: path("M 0,700 L 0,706 C 74.33846153846156,724.3602564102564 148.67692307692312,742.7205128205129 231,737 C 313.3230769230769,731.2794871794871 403.63076923076915,701.4782051282051 491,665 C 578.3692307692309,628.5217948717949 662.8000000000001,585.3666666666667 749,538 C 835.1999999999999,490.6333333333333 923.1692307692308,439.05512820512826 998,416 C 1072.8307692307692,392.94487179487174 1134.5230769230768,398.4128205128205 1206,389 C 1277.4769230769232,379.5871794871795 1358.7384615384617,355.2935897435898 1440,331 L 1440,700 L 0,700 Z");
    }

    50% {
        d: path("M 0,700 L 0,706 C 77.96923076923076,721.626923076923 155.93846153846152,737.2538461538461 238,719 C 320.0615384615385,700.7461538461539 406.21538461538466,648.6115384615384 489,610 C 571.7846153846153,571.3884615384616 651.2,546.3 727,512 C 802.8,477.7 874.9846153846156,434.1884615384615 954,434 C 1033.0153846153844,433.8115384615385 1118.8615384615382,476.94615384615383 1201,467 C 1283.1384615384618,457.05384615384617 1361.569230769231,394.0269230769231 1440,331 L 1440,700 L 0,700 Z");
    }

    75% {
        d: path("M 0,700 L 0,706 C 77.1307692307692,687.8628205128205 154.2615384615384,669.725641025641 242,664 C 329.7384615384616,658.274358974359 428.0846153846155,664.9602564102564 498,648 C 567.9153846153845,631.0397435897436 609.3999999999999,590.4333333333333 676,566 C 742.6000000000001,541.5666666666667 834.3153846153848,533.3064102564102 929,513 C 1023.6846153846152,492.69358974358977 1121.3384615384614,460.3410256410256 1207,428 C 1292.6615384615386,395.6589743589744 1366.3307692307694,363.32948717948716 1440,331 L 1440,700 L 0,700 Z");
    }

    100% {
        d: path("M 0,700 L 0,706 C 64.77435897435896,748.2397435897436 129.54871794871792,790.4794871794873 211,765 C 292.4512820512821,739.5205128205127 390.5794871794873,646.321794871795 477,597 C 563.4205128205127,547.678205128205 638.1333333333334,542.2333333333332 720,547 C 801.8666666666666,551.7666666666668 890.8871794871793,566.7448717948719 973,529 C 1055.1128205128207,491.2551282051282 1130.3179487179486,400.7871794871795 1207,359 C 1283.6820512820514,317.2128205128205 1361.8410256410257,324.10641025641024 1440,331 L 1440,700 L 0,700 Z");
    }
}