@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(0);
    }
}

#gCard {
    -webkit-animation: rotateCube 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotateCube 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 999;
}

#gCard #gHeader {
    border-radius: 5px 5px 0px 0px;
}

#gCard #gHeader, #gCard #gBody {
    padding: 0.5rem;
}

#gBackdrop {
    background: rgba(120, 120, 120, 0.003);
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border-radius: 10px
}


@-webkit-keyframes rotateCube {
    0% {
        -webkit-transform: rotate3d(-1, 1, 0, -360deg);
        transform: rotate3d(-1, 1, 0, -360deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate3d(-1, 1, 0, 0deg);
        transform: rotate3d(-1, 1, 0, 0deg);
        opacity: 1;
    }
}

@keyframes rotateCube {
    0% {
        -webkit-transform: rotate3d(-1, 1, 0, -360deg);
        transform: rotate3d(-1, 1, 0, -360deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate3d(-1, 1, 0, 0deg);
        transform: rotate3d(-1, 1, 0, 0deg);
        opacity: 1;
    }
}

@keyframes succionado {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.gModalHide {
    animation: succionado 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#gBody {
    background: rgb(255 255 255 / 60%)
}

/* CSS para las notificaciones */

#notys {
    overflow-y: auto;
    max-height: 95vh;
}

.noty {
    overflow: hidden;
}

[noty-info="card"].show {
    animation: entrar 0.5s ease 0s 1 normal forwards;
    border-radius: 10px 10px;
}

[noty-info="card"] [noty-info="header"] {
    border-radius: 10px 10px 0px 0px;
}

[noty-info="card"] [noty-info="close"] {
    cursor: pointer;
    color: #ffffff6e
}

[noty-info="card"] [noty-info="close"]:hover {
    color: black;
}

[noty-info="card"] [noty-info="header"]::after {
    content: '';
    position: absolute;
    right: 80px;
    width: 50px;
    height: 33px;
    background: #ffffff30;
    transform: skew(245deg);
    z-index: inherit;
    top: 0;
}

[noty-info="card"].exit {
    animation: salir 0.5s ease 0s 1 normal forwards;
}

@keyframes entrar {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes salir {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(250px);
    }
}